<h1>Lists</h1>

<h2>Create a list named <i>food</i> with two elements: <i>"rice"</i> and <i>"potatoes"</i>.</h2>

In [13]:
food = ['rice', 'potatoes']

<h2>Append the string <i>"broccoli"</i> to <i>food</i> using <i>.append()</i>.</h2>

In [14]:
food.append('broccoli')

<h2>Add the strings <i>"bread"</i> and <i>"pizza"</i> to <i>food</i> using <i>.append()</i>.</h2>

In [15]:
food.append('bread')
food.append('pizza')

<h2>Print the first two items in the <i>food</i> list using slicing.</h2>

In [18]:
print(food[0:2])

['rice', 'potatoes']

<h2>Print the last item in <i>food</i> using indexing.</h2>

In [19]:
print(food[-1])

pizza

<h2>Create a list called <i>breakfast</i> from the string <i>"eggs, fruit, orange juice"</i> using the <i>.split()</i> method.</h2>

In [1]:
breakfast = 'eggs, fruit, orange juice'.split(',')

In [2]:
breakfast

['eggs', ' fruit', ' orange juice']

<h2>Verify that <i>breakfast</i> has three items and is a list using <i>len()</i> and <i>type()</i></h2>

In [23]:
len(breakfast)

3

In [24]:
type(breakfast)

list

<h2>Create a new list called <i>lengths</i> using a list comprehension that contains the lengths of each string in the <i>breakfast</i> list.</h2>

In [25]:
lengths = [len(item) for item in breakfast]

In [26]:
lengths

[4, 6, 13]

<h1>Dictionaries</h1>

<h2>Create an empty dictionary named <i>dual_class_stock_price</i>.</h2>

In [27]:
dual_class_stock_price = {}

<h2>Using "square bracket" notation, enter the following data into the dictionary one item at a time:</h2>

<ul>
    <li>"GOOGL": "2,952.77"</li>
    <li>"GOOG": "2,962.12"</li>
    <br>
    <li>"BRK.A": "428,402.00"</li>
    <li>"BRK.B": "284.52"</li>
    <br>
    <li>"AAC": "9.78"</li>
    <li>"AAC.U": "9.98"</li>
    <br>
    <li>"YUM": "133.12"</li>
    <li>"YUMC": "51.34"</li>
    <br>
    <li>"HVT": "31.12"</li>
    <li>"HVT.A": "31.26"</li>
</ul>

In [28]:
dual_class_stock_price['GOOGL'] = '2,952.77'
dual_class_stock_price['GOOG'] = '2,962.12'

dual_class_stock_price['BRK.A'] = '428,402.00'
dual_class_stock_price['BRK.B'] = '284.52'

dual_class_stock_price['AAC'] = '9.78'
dual_class_stock_price['AAC.U'] = '9.98'

dual_class_stock_price['YUM'] = '133.12'
dual_class_stock_price['YUMC'] = '52.34'

dual_class_stock_price['HVT'] = '31.12'
dual_class_stock_price['HVT.A'] = '31.26'

In [29]:
dual_class_stock_price

{'GOOGL': '2,952.77',
 'GOOG': '2,962.12',
 'BRK.A': '428,402.00',
 'BRK.B': '284.52',
 'AAC': '9.78',
 'AAC.U': '9.98',
 'YUM': '133.12',
 'YUMC': '52.34',
 'HVT': '31.12',
 'HVT.A': '31.26'}

<h2>Write two <i>if</i> statements to check if <i>"GOOG"</i> and <i>"GOOG.A"</i> exist as keys in the dictionary. Set their values to <i>"Not a valid ticker"</i> if the key doesn't exist.</h2>

In [30]:
if 'GOOG' in dual_class_stock_price.keys():
    print('GOOG is a valid ticker.')
else:
    print('GOOG is not a valid ticker.')
    dual_class_stock_price['GOOG'] = 'Not a valid ticker'
    
if 'GOOG.A' in dual_class_stock_price.keys():
    print('GOOG.A a valid ticker.')
else:
    print('GOOG.A is not a valid ticker.')
    dual_class_stock_price['GOOG.A'] = 'Not a valid ticker'

GOOG is a valid ticker.
GOOG.A is not a valid ticker.

In [31]:
dual_class_stock_price

{'GOOGL': '2,952.77',
 'GOOG': '2,962.12',
 'BRK.A': '428,402.00',
 'BRK.B': '284.52',
 'AAC': '9.78',
 'AAC.U': '9.98',
 'YUM': '133.12',
 'YUMC': '52.34',
 'HVT': '31.12',
 'HVT.A': '31.26',
 'GOOG.A': 'Not a valid ticker'}

<h2>Write a <i>for</i> loop to display the ticker and price contained in the dictionary.</h2>

The output should look something like this:

<i>Ticker BRK.A had a price of \$428,402.00.</i>

In [34]:
for ticker in dual_class_stock_price.keys():
    print('='*50)
    print('Ticker {} had a price of ${}.'.format(ticker,dual_class_stock_price[ticker]))

==================================================
Ticker GOOGL had a price of $2,952.77.
==================================================
Ticker GOOG had a price of $2,962.12.
==================================================
Ticker BRK.A had a price of $428,402.00.
==================================================
Ticker BRK.B had a price of $284.52.
==================================================
Ticker AAC had a price of $9.78.
==================================================
Ticker AAC.U had a price of $9.98.
==================================================
Ticker YUM had a price of $133.12.
==================================================
Ticker YUMC had a price of $52.34.
==================================================
Ticker HVT had a price of $31.12.
==================================================
Ticker HVT.A had a price of $31.26.
==================================================
Ticker GOOG.A had a price of $Not a valid ticker.

<h1>Iteration</h1>

<h2>Write a <i>for</i> loop that prints out the integers 2 through 10, each on a new line, using <i>range()</i></h2>

In [35]:
for number in range(2,11):
    print(number)

2
3
4
5
6
7
8
9
10

<h2>Write a <i>while</i> loop that prints out the integers 2 through 10 (you'll need to create a new integer first)</h2>

In [36]:
number = 2

while number <= 10:
    print(number)
    number = number + 1

2
3
4
5
6
7
8
9
10

<h2>Write a function called <i>doubles()</i> that takes a number as its input and doubles it. Then use <i>doubles()</i> in a loop to double the number 2 three times, displaying each result on a separate line.</h2>
<br>
For example, sample output should look like:
<br>
4
<br>
8
<br>
16
<br>

In [41]:
def doubles(number):
    return 2*number

number = 2
for j in range(0,3):
    number = doubles(number)  
    print(number)

4
8
16

<h2>Track Your Investments</h2>
<br>
<font size="+1">
    <ul>
        <li>The goal of this exercise is to write a program that tracks the growing amount of an investment over time.</li>
        <br>
        <ul>
            <li>The inital deposit for an investment is called the principal amount.</li>
            <br>
            <li>Each year the amount increases by a fixed percentage, called the annual rate of return.</li>
            <br>
        </ul>
        <li>Assume a principal amount of $\$100,000$ with an annual rate of return of $5\%$.</li>
        <br>
        <li>Write a function called <i>invest</i> with three arguments:</li>
        <br>
        <ul>
            <li>the principal amount,</li>
            <br>
            <li>the annual rate of return,</li>
            <br>
            <li>the number of years to calculate.</li>
            <br>
            <li>The function signature could look something like this <i>def invest(amount, rate, years):</i></li>
            <br>
        </ul>
        <li>The function should then print out the amount of the investment, rounded to two decimal places, at the end of each year for the specified number of years.</li>
        <br>
        <li>For example, calling <i>invest(100, 0.05, 4)</i> should print the following:
        <br>
        <br>
        year 1: \$105.00
        <br>
        year 2: \$110.25
        <br>
        year 3: \$115.76
        <br>
        year 4: \$121.55
        </li>
        <br>
        <li>Call this function for a principal amount of 200, with an annual rate of return of 9%, over the course of 11 years.</li>
        <br>
    </ul>
</font>

In [51]:
def invest(principal, annual_return, number_years):
    value = principal
    for year in range(1, number_years+1):
        value = value + value*annual_return
        print('year {}: ${:.2f}'.format(year, round(value, 2)))

In [52]:
invest(100, 0.05, 4)

year 1: $105.00
year 2: $110.25
year 3: $115.76
year 4: $121.55

In [54]:
invest(200, 0.09, 11)

year 1: $218.00
year 2: $237.62
year 3: $259.01
year 4: $282.32
year 5: $307.72
year 6: $335.42
year 7: $365.61
year 8: $398.51
year 9: $434.38
year 10: $473.47
year 11: $516.09

<h1>Control Flow</h1>

<h2>Write a program that takes a given number and if the number equals 10, then the program should display <i>"You win!"</i> and if the number is not 10 then it should display <i>"I'm sorry, that's the wrong number."</i></h2>

In [59]:
number = 11

if number == 10:
    print('You win!')
else:
    print('I\'m sorry, that\'s the wrong number')

I'm sorry, that's the wrong number

In [60]:
def ten_classifier(number):
    if number == 10:
        print('You win!')
    else:
        print('I\'m sorry, that\'s the wrong number')
    return None

In [61]:
ten_classifier(10)

You win!

<h2>Write a program that compares the length of the words <i>"Product", "Data", "Sales"</i> to the number five.</h2>
<br>
<font size="+1">
    <ul>
        <li>The program should display one of the following outputs depending on the word:</li>
        <br>
        <ul>
            <li><i>"This word is less than 5 characters long."</i></li>
            <li><i>"This word is more than 5 characters long."</i></li>
            <li><i>"This word is 5 characters long."</i></li>
            <br>
        </ul>
    </ul>
</font>

In [64]:
words = ['Product', 'Data', 'Sales']

def length_of_word(word):
    if len(word) == 5:
        print('This word is 5 characters long.')
    elif len(word) > 5:
        print('This word is more than 5 characters long.')
    else:
        print('This word is less than 5 characters long.')
    return None

In [65]:
for word in words:
    length_of_word(word)

This word is more than 5 characters long.
This word is less than 5 characters long.
This word is 5 characters long.

<h2>Find the Factors of a Number</h2>
<br>
<font size="+1">
    <ul>
        <li>The goal of this exercise is to write a program that finds the factors of a positive whole number.</li>
        <br>
        <li>A factor of a positive number is any positive number less than or equal to itself that divides the number with no remainder.</li>
        <br>
        <li>For example, 3 is a factor of 12 because 12 / 3 = 4 with no remainder. However, 5 is not a factor of 12 because 12 / 5 = 2 with a remainder of 2. </li>
        <br>
        <li>Write a program that takes a positive number and then prints out the factors of that number.</li>
        <br>
        <li>Sample output for the positive number of 12 should look like:</li>
        <br>
        <ul>
            <li>1 is a factor of 12.</li>
            <li>2 is a factor of 12.</li>
            <li>3 is a factor of 12.</li>
            <li>4 is a factor of 12.</li>
            <li>6 is a factor of 12.</li>
            <li>12 is a factor of 12.</li>
            <br>
        </ul>
        <li style="color:red">You should use the $\%$ operator to get the remainder of dividing one number by another.</li>
        <br>
    </ul>
</font>

In [66]:
number = 12

for j in range(1, number+1):
    if number % j == 0:
        print(f"{j} is a factor of {number}.")
    else:
        continue

1 is a factor of 12.
2 is a factor of 12.
3 is a factor of 12.
4 is a factor of 12.
6 is a factor of 12.
12 is a factor of 12.

<h1>Functions</h1>
<br>
<font size="+1" style="color:red">
    Be sure to document (comment) your functions!
</font>

<h2>Create a function calculates the mean of a list of numbers using only basic arithmetic, not list methods.</h2>

In [67]:
def average(nums):
    """The input is a list of numbers and the function returns its mean"""
    len_nums = len(nums)
    sum_of_nums = 0
    for num in nums:
        sum_of_nums = sum_of_nums + num
    
    return (1/len_nums) * sum_of_nums
        
import numpy as np 
average([1,2,3,4]) == np.mean([1,2,3,4])

True

<h2>Write a function that returns the first and last elements of a given string in the form of a new string with only two characters. Return a statement if the given string has less than two characters.</h2>

In [68]:
def first_last_string(string):
    """"The input is a string, and the function returns the first and last element of the string concatenated."""
    if len(string) >= 2:
        new_string = string[0] + string[-1]
        return new_string
    else: 
        return print("There are less than two characters in the given string.")
    
first_last_string('Today')

'Ty'

In [69]:
first_last_string('y')

There are less than two characters in the given string.

<h2>Convert Temperatures</h2>
<br>
<font size="+1">
    <ul>
        <li>The goal of this exercise is to write a program that defines two functions:</li>
        <br>
        <ul>
            <li><i>convert_celsius_to_fahrenheit()</i> that takes one <i>float</i> argument representing degrees Celsius and returns a <i>float</i> representing the same temperature in degrees Fahrenheit using the formula
            $$
            F = C \times \frac{9}{5} + 32,
            $$</li>
            <br>
            <li><i>convert_fahrenheit_to_celsius()</i> that takes one <i>float</i> argument that represents degrees Fahrenheit and returns a <i>float</i> representing the same temperature in degrees Celsius using the formula
            $$
            C = (F-32) \times \frac{5}{9}.
            $$</li>
            <br>
        </ul>
        <li>The program should display all converted temperatures rounded to two decimal places.</li>
        <br>
        <li>The program should be able to run the following:</li>
        <br>
        <ul>
            <li><i>convert_celsius_to_fahrenheit(37)</i> should return <i>37 degrees C = 98.60 degrees F</i></li>
            <br>
            <li><i>convert_fahrenheit_to_celsius(72)</i> should return <i>72 degrees F = 22.22 degrees C</i></li>
            <br>
        </ul>
    </ul>
</font>

In [72]:
def convert_celsius_to_fahrenheit(celsius):
    '''Convert celsius to fahrenheit.'''
    fahrenheit = celsius*(9/5) + 32
    return print('{} degrees C = {:.2f} degrees F.'.format(celsius, round(fahrenheit, 2)))

def convert_fahrenheit_to_celsius(fahrenheit):
    '''Convert fahrenheit to celsius.'''
    celsius = (fahrenheit - 32)*(5/9)
    return print('{} degrees F = {:.2f} degrees C.'.format(fahrenheit, round(celsius, 2)))

In [73]:
convert_celsius_to_fahrenheit(37)

37 degrees C = 98.60 degrees F.

In [74]:
convert_fahrenheit_to_celsius(72)

72 degrees F = 22.22 degrees C.